<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658752630039-a1jc6odu96blk2q184bf15v1j0j1i32f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658752630039-a1jc6odu96blk2q184bf15v1j0j1i32f</string>
	<key>API_KEY</key>
	<string>AIzaSyCyr5IVJd3vg20pq8jnP-UmTjDw9RfWcqU</string>
	<key>GCM_SENDER_ID</key>
	<string>658752630039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.obada.Zstagram</string>
	<key>PROJECT_ID</key>
	<string>zstagram</string>
	<key>STORAGE_BUCKET</key>
	<string>zstagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658752630039:ios:c6ef762822396c54e9db52</string>
</dict>
</plist>